:root {
    scroll-behavior: smooth;
    --back-to-top-z-index: 5;
    --back-to-top-color: #3eaf7c;
    --back-to-top-color-hover: #71cda3;


    --nprogress-color: #29d;
    --nprogress-z-index: 1031;
  }